[user]
	name = Mateusz Cieciura
	email = mateusz.cieciura@gmail.com
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
	interactive = true
[color "branch"]
	current = magenta reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red reverse
[alias]
	st = status
	sts = status -s -b
	s = status -s -b
	ci = commit
	amend = commit --amend
	co = checkout
	cob = checkout -b
	b = branch
	bb = branch -v
	bd = branch -D
	f = fetch --prune
	l = log
	ll = log -10 --graph --abbrev-commit --decorate --date=relative --oneline
	lll = log -20 --graph --abbrev-commit --decorate --date=relative --oneline
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	bl = gui blame
	dt = difftool
	dtc = difftool --cached
	mt = mergetool
	df = diff
	dc = diff --cached
	a = add
	aa = add --all
	reb = rebase
	pr = pull --rebase --prune
	sh = show
[core]
	autocrlf = false
	editor = gvim
[diff]
	tool = kdiff3
	guitool = kdiff3
[merge]
	tool = kdiff3
[difftool]
	prompt = false
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[push]
	default = simple
[gc]
	auto = 0
[help]
	autocorrect = 10
